<!DOCTYPE html>
<html>
	<head>
		<title>Jan Michael Austria</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Jan Michael Austria, Graduate Student</h1>
				<p>I'm a graduate student at the <em>University of New Hampshire.</em> This is my portfolio page. <a href="/about">Find out more about me here.</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jca88@cornell.edu">email</a></li>
        		<li><a href="https://github.com/janmichael88">github.com/janmichael88</a></li>
			</ul>
		</footer>
	</body>
</html>
